@import 'variables';
@import 'mixins/mixins';
@import 'reboot';

h1 {
  @include fonts($color-primary, 36px, bold, 0px)
}

h2 {
  @include fonts(#ffffff, 24px, bold, 0px)
}

h3 {
  @include fonts($color-secondary, 16px, bold, 0px)
}

.container {
  @include full;
  display: flex;
  overflow: hidden;
}

.container>div {
  flex: 0 0 450px;
}

.col-6.col-6 {
  flex-grow: 2;
  background-color: $color-primary-light;
}

.col-2.col-2 {
  flex-grow: 0;
  background-color: $color-primary-light;
}

.col-4.col-4 {
  flex-grow: 1;
  background-color: $color-secondary;
}

.task {
  width: 450px;
  display: flex;
  flex-flow: column wrap;
  padding: 48px 85px;
}

/* add-todo */
.add-todo {
  display: flex;
  flex: 0 0 40px;
  margin: 0 2.5px 100px 2.5px;

  input {
    padding: 16px;
    flex-grow: 1;
    border: none;

    &::placeholder {
      @include fonts($color-primary, inital, bold, 0px);
      font-style: italic;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  button {
    width: 40px;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

.add-todo__input {
  background-color: $color-icon;
}

.add-todo__btn {
  @include fonts($color-primary, 16px, bold, 0px);
  background-color: $color-icon;
}

/* add-todo End*/

/* list */
.list {

  h3 {
    padding: 10px;
  }

  li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: 1px solid $color-secondary-light;
  }


}

.list-item--ative{
  padding: 20px 0px;
  h3{
    @include fonts($color-secondary, 24px, bold, 0px)
  }
}

.list-item__checked {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid $color-secondary;
  background-color: transparent;
  border-radius: 100%;
  @include square(24px);
}

.list-item__checked.list-item__checked--active {
  @include square(48px);
}

.list-item__infos {
  display: flex;
  flex-flow: column wrap;
  max-width: 85%;
}

.list-item__amount-list {
  display: flex;
  margin-left: 10px;

  li {
    @include square(12px);
    border: 1px solid $color-primary;
    border-radius: 50%;
    margin-right: 5px;
    background-color: $color-primary;
  }

}

// .more {
//   @include fonts($color-primary, 16px, bold, 0px);
// }

.list-item__time {
  display: flex;
  @include fonts($color-primary, 170px, bold, 0px);
}

/* list End*/


/* play button */

.list-item__btn{
  display: flex;
  border-radius: 50%;
  border: none;
  text-align: center;
  padding: 20px 30px;
}

.list-item__btn--big{
  @include square(96px);
  color: $color-primary;
  font-size: 50px;

  &::after {
    content: "";
    display: inline-block;
    @include square(14px);
    background-color: $color-icon;
    position: absolute;
    left: 100%;
    bottom: 0px;
  }
}

.list-item__btn--small {
  @include square(24px);
  border: 2px solid $color-secondary;
  font-size: 12px;
  padding: 3px 5px;
  color: $color-secondary;
  background-color: transparent;
}
/* play button End*/

/* count */
.count-down {
  @include square(500px);
  position: absolute;
  top: 15%;
  border: 2px solid $color-primary;
  border-radius: 50%;
}

.process-mask {
  position: absolute;
  top: 0%;
  width: 250px;
  height: 500px;
  overflow: hidden;
}

.process-mask.right {
  right: 0;
}

.process-mask.left {
  left: 0;
}

.process-bar {
  @include square(476px);
  border-radius: 50%;
  border: 12px solid transparent;
  transform: rotate(45deg);
  position: absolute;
}

.process-bar.right {
  border-top:12px solid $color-primary;
  border-right:12px solid $color-primary;
  right: 0%;
}

.process-bar.left {
  border-bottom: 12px solid $color-secondary;
  border-left: 12px solid $color-secondary;
  left: 0%;
}

.rightcircle {
  // animation-delay: -1s;
  animation: circle_right 2.5s linear;
}

.leftcircle {
  animation: circle_left 1.5s linear;
  animation-delay: 2.5s;
}


@keyframes circle_right {
  0% {
    transform: rotate(-135deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes circle_left {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(225deg);
  }
}

.circle {
  border-radius: 50%;
  @include square(96%);
  @include center;
  background-color: $color-primary;

  .list-item__btn--big{
    @include center;
  }
}

/* count End*/

/* nav */
.nav {
  display: flex;
  justify-content: flex-end;

  li {
    padding: 48px 48px 0px 48px;
    cursor: pointer;
  }

  i {
    @include fonts($color-icon, 30px, normal, 0px);
  }

}

.logo {
  transform: rotate(90deg);
  transform-origin: 49px 100%;
  cursor: pointer;
  margin-top: 100%;

  h2 {
    color: $color-icon;
  }
}

/* nav End*/